<style>
.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 5 px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-color: transparent;
  border-width: none;
}

.active, .accordion:hover {
  background-color: #67a2b2; 
  color: white;
  border-color: transparent;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  border-color: transparent;
}
</style>